NODE_ENV="development"
# NODE_ENV="deploy"
# NODE_ENV="production"
PORT=3333

APP_URL="http://localhost:3000"

DATABASE_URL="postgresql://postgres:docker@localhost:5432/ondehoje?schema=public"

GOOGLE_OAUTH_CLIENT_ID="get-in-notion-google-cloud"
GOOGLE_OAUTH_CLIENT_SECRET="get-in-notion-google-cloud"
GOOGLE_OAUTH_REDIRECT_URI="http://localhost:3333/auth/google/redirect"
GOOGLE_OAUTH_RESPONSE_URL="http://localhost:3000/api/auth/callback"

# Auth (JWT)
JWT_PUBLIC_KEY="get-in-notion-jwt-credentials"
JWT_PRIVATE_KEY="get-in-notion-jwt-credentials"

# Upload (AWS / Cloudflare)
AWS_BUCKET_URL="http://bucket-url"
AWS_BUCKET_PUBLIC_URL="http://bucket-public-url"
AWS_BUCKET_NAME="bucket-name"
AWS_ACCESS_KEY_ID="aws-access-key-id"
AWS_SECRET_ACCESS_KEY="aws-secret-access-key"

MAILER_EMAIL_ADDRESS="ondehoje.sac@gmail.com"
MAILER_API_KEY="jmtzzyptqtundqtz"

STRIPE_API_KEY="your_stripe_api_key"
PAYMENT_GATEWAY_SUCCESS_URL="http://localhost:3000/result"
PAYMENT_GATEWAY_CANCEL_URL="http://localhost:3000/payment"
